@import-normalize;

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.visible {
  display: block !important;
}

.alert {
  color: hsl(0, 87%, 67%) !important;
  border: 2px solid hsl(0, 87%, 67%) !important;
}

.copied {
  background-color: hsl(257, 27%, 26%) !important;
}

@media only screen and (min-width: 1034px) {

  .card-2 {
    margin-top: 85px !important;  
  }

  .card-3 {
    margin-top: 165px !important;
  }
}